@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;

  }

 
  body {
    font-family: 'Poppins', sans-serif;
  }
  

  
  img,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }


  .arrow {
    filter: brightness(0) invert(1);
  }

  .switch {
    filter: invert(20%) sepia(64%) saturate(3712%) hue-rotate(194deg) brightness(91%) contrast(103%);

  }